*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background: #111;
    width: 100vw;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.footer-content h1{
    color: white;
    font-size: 2.1rem;
    font-weight: 500;
}
.footer-content h4{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socialss{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s;
}
.socials ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.socials ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.socials ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}